th {
    background-color:rgb(187, 127, 255);
    border: 1px solid;
    text-align: center;
    font-family: 'Lato', sans-serif;
   }
  
tr, td {
    border: 1px solid;
    line-height: 30px;
    text-align: center;
    background-color:rgb(187, 127, 255);
    font-family: 'Lato', sans-serif;
}
